@CHARSET "UTF-8";

/* 타이틀 */
.titleIcon1 {background: url("../img/ico1_cont.png") no-repeat;font-size: 19px;font-weight: 800;color: #333;line-height: 1;display: inline-block;padding: 0 0 10px 28px;}
.titleIcon2 {background: url("../img/ico2_cont.png") no-repeat;font-size: 17px;font-weight: 600;color: #505050;line-height: 1;display: inline-block;padding: 0 0 10px 28px;background-position: 14px 2px;}
.titleIcon3 {background: url("../img/ico3_cont.png") no-repeat;font-size: 15px;font-weight: 500;color: #505050;line-height: 1;display: inline-block;padding: 0 0 8px 32px;background-position: 18px 6px;}
.titleIcon4 {background: url("../img/ico4_cont.png") no-repeat;font-size: 14px;font-weight: 500;color: #7a7a7a;line-height: 1;display: inline-block;padding: 0 0 5px 37px;background-position: 25px 6px;letter-spacing: -1px;}

.fileIco {background: url("../img/ico_attch.png.png") no-repeat;width: 22px;height: 22px;display: inline-block;margin-right: 3px;font-size: 0;text-indent: -9999px;overflow: hidden;}

/* left subMenu Icon */
.subMenuOpen {overflow: hidden;width: 25px;}
.subMenuOpen:before {content: '';height: 20px;width: 20px;display: block;border: 4px solid #eeaa05;border-right-width: 0;border-bottom-width: 0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: roate(-45deg);-ms-transform: rotate(-45deg);position: absolute;top: 17px;right: 4px;}
.subMenuClose {overflow: hidden;width: 25px;}
.subMenuClose:before {content: '';height: 20px;width: 20px;display: block;border: 4px solid #fff;border-left-width: 0;border-top-width: 0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: roate(-45deg);-ms-transform: rotate(-45deg);position: absolute;top: 17px; right: 14px;}
